default_layout "compact"
default_shell "zsh"
copy_command "wl-copy"

// for further config
// https://shoukoo.github.io/blog/zellij-love-neovim/
// https://github.com/zellij-org/awesome-zellij
// https://github.com/hiasr/vim-zellij-navigator
