theme "dracula"
default_layout "compact"
show_startup_tips false

plugins {
    zj-quit location="file:~/.config/zellij/plugins/zj-quit.wasm"
    zellij-forgot location="file:~/.config/zellij/plugins/zellij_forgot.wasm"
    // multitask location="file:~/.config/zellij/plugins/multitask.wasm"
    // ghost location="file:~/.config/zellij/plugins/ghost.wasm"
}

keybinds clear-defaults=true {
    shared_except "renamepane" "renametab" "entersearch" "search" "resize" "locked" {
        // Navigation
        bind "Ctrl h" { MoveFocus "Left"; }
        bind "Ctrl j" { MoveFocus "Down"; }
        bind "Ctrl k" { MoveFocus "Up"; }
        bind "Ctrl l" { MoveFocus "Right"; }
        bind "Alt  h" { GoToPreviousTab; }
        bind "Alt  l" { GoToNextTab; }

        // Plugins
        bind "Ctrl g" {
            LaunchOrFocusPlugin "zellij-forgot" {
                floating true
            };
            SwitchToMode "Normal";
        }
        // bind "Alt m" {
        //     Run "zellij" "action" "start-or-reload-plugin" "multitask" "--configuration" "ccwd=`pwd`";
        //     SwitchToMode "Normal";
        // }
    }

    normal {
        bind "Ctrl s" { SwitchToMode "Tmux"; }
    }

    tmux {
        bind "Esc" "Ctrl s" { SwitchToMode "Normal"; }
        bind "p"            { SwitchToMode "Pane"; }
        bind "t"            { SwitchToMode "Tab"; }
        bind "m"            { SwitchToMode "Move"; }
        bind "s"            { SwitchToMode "Scroll"; }
        bind "o"            { SwitchToMode "Session"; }
    }

    pane {
        bind "Esc"    { SwitchToMode "Normal"; }
        bind "Ctrl s" { SwitchToMode "Tmux"; }
        bind "n"      { NewPane; }        // No exit, to allow for pane re-sizing
        bind "N"      { NewPane "Down"; } // No exit, to allow for pane re-sizing
        bind "x"      { CloseFocus; SwitchToMode "Normal"; }
        bind "f"      { ToggleFocusFullscreen; SwitchToMode "Normal"; }
        bind "z"      { TogglePaneFrames; SwitchToMode "Normal"; }
        bind "w"      { ToggleFloatingPanes; SwitchToMode "Normal"; }
        bind "e"      { TogglePaneEmbedOrFloating; SwitchToMode "Normal"; }
        bind "r"      { SwitchToMode "RenamePane"; PaneNameInput 0; }
        bind "p"      { TogglePanePinned; SwitchToMode "Normal"; }
        bind "b"      { BreakPane; SwitchToMode "Normal"; }
        bind "]"      { BreakPaneRight; SwitchToMode "Normal"; }
        bind "["      { BreakPaneLeft; SwitchToMode "Normal"; }
        bind "h"      { Resize "Increase Left"; }
        bind "j"      { Resize "Increase Down"; }
        bind "k"      { Resize "Increase Up"; }
        bind "l"      { Resize "Increase Right"; }
        bind "H"      { Resize "Decrease Left"; }
        bind "J"      { Resize "Decrease Down"; }
        bind "K"      { Resize "Decrease Up"; }
        bind "L"      { Resize "Decrease Right"; }
        bind "+" "="  { Resize "Increase"; }
        bind "-"      { Resize "Decrease"; }
    }
    renamepane {
        bind "Enter" { SwitchToMode "Normal"; }
        bind "Esc"   { UndoRenamePane; SwitchToMode "Pane"; }
    }

    tab {
        bind "Esc"    { SwitchToMode "Normal"; }
        bind "Ctrl s" { SwitchToMode "Tmux"; }
        bind "r"      { SwitchToMode "RenameTab"; TabNameInput 0; }
        bind "n"      { NewTab; SwitchToMode "Normal"
                        // Run "zsh" "-c" "~/.config/zellij/zellij-renumber-tabs.sh" {
                        //     close_on_exit true
                        // };
                      }
        bind "x"      { CloseTab; SwitchToMode "Normal";
                        // Run "zsh" "-c" "~/.config/zellij/zellij-renumber-tabs.sh";
                      }
        bind "s"      { ToggleActiveSyncTab; SwitchToMode "Normal"; }
        bind "1"      { GoToTab 1; }
        bind "2"      { GoToTab 2; }
        bind "3"      { GoToTab 3; }
        bind "4"      { GoToTab 4; }
        bind "5"      { GoToTab 5; }
        bind "6"      { GoToTab 6; }
        bind "7"      { GoToTab 7; }
        bind "8"      { GoToTab 8; }
        bind "9"      { GoToTab 9; }
    }
    renametab {
        bind "Enter" { SwitchToMode "Normal"; }
        bind "Esc"   { UndoRenameTab; SwitchToMode "Tab"; }
    }

    move {
        bind "Esc"    { SwitchToMode "Normal"; }
        bind "Ctrl s" { SwitchToMode "Tmux"; }
        bind "h"      { MovePane "Left"; }
        bind "j"      { MovePane "Down"; }
        bind "k"      { MovePane "Up"; }
        bind "l"      { MovePane "Right"; }
        bind "H"      { MoveTab "Left"; }
        bind "L"      { MoveTab "Right"; }
        bind "["      { PreviousSwapLayout; }
        bind "]"      { NextSwapLayout; }
    }

    scroll {
        bind "Esc"    { SwitchToMode "Normal"; }
        bind "Ctrl s" { SwitchToMode "Tmux"; }
        bind "s"      { SwitchToMode "EnterSearch"; SearchInput 0; }
        bind "c"      { SearchToggleOption "CaseSensitivity"; }
        bind "w"      { SearchToggleOption "Wrap"; }
        bind "o"      { SearchToggleOption "WholeWord"; }
        bind "n"      { Search "down"; }
        bind "N"      { Search "up"; }
        bind "e"      { EditScrollback; SwitchToMode "Normal"; }
        bind "k"      { ScrollUp; }
        bind "j"      { ScrollDown; }
        bind "Ctrl u" { HalfPageScrollUp; }
        bind "Ctrl d" { HalfPageScrollDown; }
        bind "Ctrl b" { PageScrollUp; }
        bind "Ctrl f" { PageScrollDown; }
        bind "g"      { ScrollToTop; }
        bind "G"      { ScrollToBottom; }
    }
    entersearch {
        bind "Esc"   { SwitchToMode "Scroll"; }
        bind "Enter" { SwitchToMode "Scroll"; }
    }

    session {
        bind "Esc"    { SwitchToMode "Normal"; }
        bind "Ctrl s" { SwitchToMode "Tmux"; }
        bind "d"      { Detach; }
        bind "q" {
            LaunchOrFocusPlugin "zj-quit" {
                floating true
                move_to_focused_tab true
            };
            SwitchToMode "Normal";
        }
        bind "s" {
            LaunchOrFocusPlugin "session-manager" {
                floating true
                move_to_focused_tab true
            };
            SwitchToMode "Normal";
        }
        bind "p" {
            LaunchOrFocusPlugin "plugin-manager" {
                floating true
                move_to_focused_tab true
            };
            SwitchToMode "Normal"
        }
    }
}

