[Desktop Entry]
Type=Application
Exec=/home/eloquencer/AppImage/Vicinae-e8e0c24ce-x86_64.AppImage server
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Vicinae
Name=Vicinae
Comment[en_US]=Raycast alternative in Linux
Comment=Raycast alternative in Linux
