layout {
  default_tab_template {
      pane size=1 borderless=true {
        plugin location="file:zjstatus.wasm" {
          format_left  "#[bg=green,fg=black] {command_host_os_icon} {session} #[bg=green,fg=black]│"
          format_center "{tabs}"
          format_right "#[bg=green,fg=black] {swap_layout} {mode}"
          format_space  "#[bg=green]"

          mode_normal        "#[bg=green,fg=black]│#[bg=green,fg=black] NORMAL  "
          mode_resize        "#[bg=green,fg=green]│#[bg=magenta,fg=black] RESIZE  "
          mode_pane          "#[bg=green,fg=green]│#[bg=magenta,fg=black] PANE    "
          mode_tab           "#[bg=green,fg=green]│#[bg=magenta,fg=black] TAB     "
          mode_scroll        "#[bg=green,fg=green]│#[bg=magenta,fg=black] SCROLL  "
          mode_search        "#[bg=green,fg=green]│#[bg=magenta,fg=black] SEARCH  "
          mode_session       "#[bg=green,fg=green]│#[bg=magenta,fg=black] SESSION "
          mode_move          "#[bg=green,fg=green]│#[bg=magenta,fg=black] MOVE    "
          mode_tmux          "#[bg=green,fg=green]│#[bg=magenta,fg=black] TMUX    "

          tab_normal "#[bg=green,fg=black] #[bg=green,fg=black]{name} {sync_indicator}{fullscreen_indicator}{floating_indicator}#[bg=green,fg=black]"
          tab_active "#[bg=black,fg=green] #[bg=black,fg=green]{name} {sync_indicator}{fullscreen_indicator}{floating_indicator}#[bg=black,fg=green]"

          tab_sync_indicator       "󰓦 "
          tab_fullscreen_indicator "󱟱  "
          tab_floating_indicator   "󰉈 "

          command_host_os_icon_command "sh -c \"echo $(uname -s | grep -qi 'darwin' && echo '󰀵')$(uname -s | grep -qi 'linux' && echo '')$(uname -s | grep -qi 'nt' && echo '󰖳')\""
          command_host_os_icon_format "{stdout}"
          command_host_os_icon_interval "0"
          command_host_os_icon_rendermode "static"

          datetime          "{format}"
          datetime_format   "%d-%m-%Y %H:%M"
          datetime_timezone "Europe/Berlin"
        }
      }
    children
  }
}
