layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="file:zjstatus.wasm" {
                format_left   "#[bg=green,fg=black] [{command_host_os_icon} {session}] {mode}"
                format_center "{tabs}"
                format_right  "{swap_layout}"
                format_space  "#[bg=green]"

                swap_layout_format "#[bg=green,fg=black] \"{name}\" "
                swap_layout_hide_if_empty "true"

                notification_format_unread "#[bg=#000000,fg=blue,blink]  #[bg=#000000,fg=blue] {message} "
                notification_format_no_notifications "#[bg=#000000,fg=blue,dim]   "
                notification_show_interval "10"

                mode_normal  "#[bg=green,fg=black] NORMAL 󱏿  "
                mode_tmux    "#[bg=green,fg=black] SUPER  󰿖  "
                mode_pane    "#[bg=green,fg=black]  PANE  󰝘  "
                mode_tab     "#[bg=green,fg=black]  TAB     "
                mode_move    "#[bg=green,fg=black]  MOVE    "
                mode_scroll  "#[bg=green,fg=black] SCROLL   "
                mode_session "#[bg=green,fg=black]SESSION   "

                tab_normal "#[bg=green,fg=black] #[bg=green,fg=black]{index}:{name} {sync_indicator}{fullscreen_indicator}{floating_indicator}#[bg=green,fg=black]"
                tab_active "#[bg=black,fg=green] #[bg=black,fg=green]{index}:{name} {sync_indicator}{fullscreen_indicator}{floating_indicator}#[bg=black,fg=green]"

                tab_sync_indicator       "󰓦 "
                tab_fullscreen_indicator "󱟱  "
                tab_floating_indicator   "󰉈 "

                // limit tab display count
                tab_display_count "6"
                tab_truncate_start_format "#[bg=green,fg=black] <- +{count} "
                tab_truncate_end_format   "#[bg=green,fg=black] +{count} -> "

                command_host_os_icon_command "sh -c \"echo $(uname -s | grep -qi 'darwin' && echo '󰀵')$(uname -s | grep -qi 'linux' && echo '')$(uname -s | grep -qi 'nt' && echo '󰖳')\""
                command_host_os_icon_format "{stdout}"
                command_host_os_icon_interval "0"
                command_host_os_icon_rendermode "static"
            }
        }
    }
}
