:8787 {
    route {
        sablier http://sablier:10000 {
            group stirling
            session_duration 5m
            blocking {
                timeout 3m
            }
        }
        reverse_proxy stirling-pdf:8080
    }
}
